@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  width: 100%;
  background-color: #bdbaae;
}

button {
  width: 100px;
  height: 140px;
}

img {
  width: 100px;
  height: 140px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 400px 20px 400px;
}

.middle {
  margin: auto;
  width: 50%;
}

.middle input {
  width: 100%;
}